#main {
    background-image: url(./assets/cross.png),url(./assets/pattern.png);
    background-repeat: no-repeat,repeat;
    background-position: right bottom, left top;
    padding:5px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 200px 800px 1050px 50px;
    grid-template-areas: 
    " header header"
    " body body"
    " body body"
    " footer footer";
}


.header {
    grid-area: header;
    display: flex;
    justify-content: space-between; &
    .navigator-icon {
        display: flex;
        align-items: center;
    }
}

.popupimage {
    height: 60px;
    width: 100%;
    margin-left: 20px;
    padding: 2px;
}

#nav-icon {
    height: 30px;
}

.body {
    grid-area: body;
    display:flex;
    flex-direction: column;
}

.verse {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
    background-color: #faeaab8a;
    padding: 50px;
    display:grid;
    justify-content:center; &

    h1 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        text-align: end;
        font-weight: bolder;
        font-size: 4rem;
        
    }& 
    
    h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 3rem;
        font-weight: normal;
    } 
    
}

.icon-popup{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.popup {
    background-image: linear-gradient(to right, #ffffff , #ffcc0075);
    display: flex;
    gap: 50px;
    justify-self: center;
    align-items: center;
    transition: width 2s;
    width: 380px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup:hover {
    width: 100%;
    background-color: #ffffff;
}

.person {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

.person-holder {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    
}

.cc {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #faeaab8a, 0 0 5px rgb(8, 8, 8);
  font-size: 2rem;
}

.name {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px black, 0 0 25px #faeaab8a, 0 0 5px rgb(8, 8, 8);
    color: white;
    font-size: 3rem;
}


footer {
    grid-area: footer;
    background-color: #8b5813;
    text-align: center;
    color: aliceblue;
}

@media (max-width:800px) {
    #main {
        grid-template-columns: 1fr auto;
        grid-template-rows: 200px 800px 1000px 50px;
        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 2rem;
        }
    }
}